/**
 * Fonts
*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Regular.ttf');
}
@font-face {
  font-family: 'TTFirsNeue-Bold';
  src: url('../fonts/TTFirsNeue-Bold.ttf');
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf');
}