.actions-page {
    padding: 0 170px;

    &__title {
        font-family: 'TTFirsNeue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 37px;
        line-height: 54px;
        color: #18191F;
        margin-bottom: 10px;
    }

    &__layout {
        display: flex;
    }
}

.actions-content {
    &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 31px;
        color: #333333;
        margin-bottom: 30px;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #666666;
        margin-bottom: 30px;

        p {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: initial;
            padding-left: 20px;
        }
    }

    &__list {
        border: 1px solid #ECF2F4;
    }

    &__tabs {
        display: flex;
    }

    &__tab {
        background: rgba(46, 197, 206, 0.11);
        border: 1px solid #ECF2F4;
        box-sizing: border-box;
        border-radius: 3px;
        width: 130px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #2EC5CE;
        padding: 16px 0;
        text-align: center;
        margin-right: 10px;

        &--selected {
            color: #8F67FC;
            background: #FFFFFF;
            border: 1px solid #8F67FC;
        }
    }

}

.actions-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid #ECF2F4;

    &__title {
        font-size: 17px;
        font-style: normal;
        font-weight: 800;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 24px;
    }

    &__link {
        margin: 15px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #2EC5CE;
    }

    &__image {
        img {
            height: 117px;
        }
    }

    &__info {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #666666;
    }

    &__services {
        margin-top: 15px;

        a {
            text-decoration: underline;

            &:hover {
                color: rgba(0, 126, 255, 1);
            }
        }
    }
}

@media (max-width: 460px) {
    .actions-page {
        padding: 0;

        &__title {
            padding: 0 16px;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1.2px;
        }
    }

    .specializations-sidebar {
        display: none;
    }

    .actions-content {
        margin: 0;
        padding: 0 16px;

        &__title {
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 0;
        }
    }

    .actions-item {
        flex-direction: column-reverse;
        padding: 15px;

        img {
            height: inherit;
        }

        &__title {
            margin-top: 10px;
        }

        &__link {
            margin-top: 5px;
        }
    }
}
