/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

@import "~bootstrap-scss";

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
@import 'demo';
@import 'mobile';

@import 'specialists';
@import 'actions';

.quotes-block {
  .swiper-container {
    height: 600px;
  }

  .swiper-pagination {
  }

  .swiper-pagination-bullet {
    background: #696b73 !important;
  }

  .swiper-pagination-bullet-active {
    background: #8F67FC !important;
  }
}

.specializations-sidebar {
    flex-shrink: 0;
    border: 1px solid #ECF2F4;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    width: 405px;

    &__item {
        padding: 20px 0 20px 35px;
        border-bottom: 1px solid #F2F6F7;
    }
}
