div, span, header, button {
  font-family: 'TTFirsNeue', sans-serif;
}

.header-top {
  background: #FCFCFC;
  padding: 15px 90px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #BABABA;
}

.header-menu {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  box-shadow: 0 1px 0 #FAF9F9;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 42px;
    img {
      max-width: 93.5px;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 70px;
  }

  &__right {
    display: flex;
    a {
      margin-left: 15px;
    }
  }
}

.main-banner {
  padding: 20px 90px 0;

  &__wrapper {
    background: url('/images/content/slider-background.png') no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
  }

  &__block {
    margin-left: 100px;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 19.5007px;
    line-height: 140%;
    color: #8F67FC;
  }

  &__name {
    font-family: 'TTFirsNeue-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 71.1776px;
    line-height: 120%;
    color: #8F67FC;
    width: 580px;
  }

  &__hint {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #8F67FC;
  }

  &__form {
    display: flex;

    input {
      background: #FFFFFF;
      outline: none;
      border: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      padding: 12px 14px;
      width: 500px;
    }

    button {
      background: #8F67FC;
      border-radius: 0 10px 10px 0;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      padding: 14px 24px;
      border: 0;
    }
  }

  &-video {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B0B0B0;
    display: flex;
    margin-top: 25px;

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 12px;
    }

    a {
      color: #000000;
    }
  }
}

.second-block {
  margin: 25px 40px;
  padding: 0 90px;
  background: url('/images/content/second-background.png') no-repeat center center;

  &__background {
    background: rgb(255 255 255 / 85%);
    height: 560px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    color: #18191F;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
    max-width: 1142px;
    margin: 0 auto;

    p + p {
      margin-top: 20px;
    }
  }

  &__steps {
    display: flex;
    max-width: 1110px;
    margin: 50px auto 0;
  }

  &-step {
    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: #18191F;
      margin-top: 10px;
    }

    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #18191F;
      margin-top: 5px;
    }
  }
}

.quotes-block {
  background: rgba(46, 197, 206, 0.11);

  &__content {
    position: relative;
    width: 930px;
    margin: 200px auto 0;

    &::before {
      content: '';
      background: url('/images/content/quote.png');
      position: absolute;
      width: 70px;
      height: 60px;
      top: -38px;
      left: -50px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    p + p {
      margin-top: 40px;
    }
  }

  &__author {
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2EC5CE;
  }

  &__about {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
  }
}

.services-block {
  max-width: 1300px;
  margin: 30px auto 0;

  &__title {
    font-family: 'TTFirsNeue-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  &__steps {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
  }

  .service-step {
    position: relative;

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #18191F;
      margin-bottom: 10px;

      &--highlight {
        color: #2EC5CE;
      }
    }

    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #18191F;
    }

    &__number {
      position: absolute;
      z-index: -1;
      top: -60px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #F4F5F7;

      &--highlight {
        color: #D5FAFC;
      }
    }
  }

  .service-components {
    display: flex;
    justify-content: space-between;

    & + .service-components {
      margin-top: 20px;
    }
  }

  .service-component {
    border: 1px solid #ECF2F4;
    padding: 30px 40px;
    flex: 0 1 49%;

    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: #2EC5CE;
    }

    &__list {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 5px;
    }
  }
}

.our-specs {
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    color: #18191F;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
    margin-bottom: 50px;
  }

  .swiper-container {
    height: 555px;
    width: 1400px;
  }

  .swiper-slide {
    width: 315px !important;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 45px;
    background: #fff;
    box-shadow: 1px 0px 3px -1px rgba(54, 54, 54, 0.15);
  }

  .swiper-button-prev:after {
    content: '';
    background: url('/images/content/left-arrow.png') no-repeat;
    width: 8px;
    height: 16px;
  }

  .swiper-button-next:after {
    content: '';
    background: url('/images/content/right-arrow.png') no-repeat;
    width: 8px;
    height: 16px;
  }



  &__list {
    margin-bottom: 50px;
  }
}

.our-specs-item {
    img {
        margin: auto;
        background: #f5f5f5;
    }

    &__name {
        margin-top: 25px;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #171717;
    }

    &__about {
        margin-top: 5px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #171717;
    }

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}

.promo-block {
  background: rgba(46, 197, 206, 0.11);
  padding-top: 15px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    color: #18191F;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
    margin-bottom: 50px;
  }

  &__list {
    padding-bottom: 50px;
  }

  .swiper-slide {
    img {
      max-width: 100%;
      max-height: 205px;
    }
  }
}

.contacts-block {
  padding-top: 15px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    color: #18191F;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 1650px;
    margin: 50px auto;
  }

  .contacts-block-item {
    width: 535px;
    background: #FAFAFA;
    padding: 20px 25px;

    &__header {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      color: #333333;
      margin-bottom: 5px;
    }

    &__bold {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      color: #333333;
      margin-bottom: 8px;

      .contacts-block-item__address {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
      }
    }

    &__phones {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #333333;
      margin-top: 18px;
    }

    &__phone {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }
    }
  }
}

footer {
  display: flex;
  margin: 50px 0;
  padding: 0 90px;

  .footer-column {
    width: 187px;
    margin-right: 40px;

    &--offset {
      padding-top: 45px;
    }

    &--first {
      margin-right: 93px;
    }

    &__about {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #9E9E9E;
      margin: 20px 0;
    }

    &__sites {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #000000;
    }

    &__link {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 14px;
      text-transform: uppercase;
      color: #9E9E9E;

      & + .footer-column__link {
        margin-top: 15px;
      }
    }

    &__address {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #9E9E9E;
      margin-top: 5px;
    }
  }
}

.copyright-block {
  background: #2EC5CE;
  margin-bottom: 80px;
  padding: 20px 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}

.breadcrumb {
    background: #fff;
    padding: 0 170px;
    font-family: 'TTFirsNeue';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    color: #858585;

    &-item {
        &.active {
            color: #2EC5CE;
        }
    }
}

.record-float-btn {
    position: fixed;
    z-index: 9999;
    bottom: 15%;
    right: 10%;
    background: #8f67fc;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.report-form {
    background: rgb(217 253 255);

    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
}

.modal-component {
    display: none;
    background: rgb(21 16 16 / 42%);
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 10000px;
    top: 0;
    left: 0;

    &--active {
        display: block;
    }

    &__wrapper {
        background: rgb(217 253 255);
        padding: 50px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 800px;
    }
}

.report-form, .modal-component {
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 64px;
        text-align: center;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__input, &__textarea {
        padding: 14px;
        background: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        border: 0;
    }

    .row + .row {
        margin-top: 20px;
    }

    &__hint {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;

        letter-spacing: 0.42px;

        color: #858585;
    }

    &__button {
        background: #2EC5CE;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height, or 123% */

        text-align: center;

        color: #FFFFFF;
        padding: 14px;
        border: 0;
    }
}
