@media (max-width: 460px) {
  .header-menu__items, .header-menu__right, .copyright-block, .header-top {
    display: none;
  }

  .header-menu {
    justify-content: center;
    padding: 0;
    position: relative;

    &__logo {
      margin: 0 auto;
    }

    .menu-btn {
      position: absolute;
      top: 30px;
      left: 18px;
    }
  }

  .header-menu-items {
    padding: 0 15px;

    .header-menu__item {
      padding-top: 10px;
    }
  }

  .main-banner {
    padding: 10px 15px;

    &__wrapper {
      height: 184px;
      padding-left: 30px;
      background: url('../images/content/slider-background-mobile.png') no-repeat;
      background-position-x: 100%;
      background-color: #f1f5f8;
    }

    &__block {
      margin-left: 0;
    }

    &__title {
      font-size: 12px;
      line-height: 140%;
    }

    &__name {
      font-size: 22px;
      line-height: 120%;
      width: inherit;
    }

    &__form {
      display: none;
    }

    &-video {
      &__hint {
        display: none;
      }
    }
  }

  .mobile-feedback-form {
    background: rgba(46, 197, 206, 0.11);
    padding: 20px 15px;

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #8F67FC;
      margin-bottom: 5px;
    }

    input {
      background: #FFFFFF;
      border-radius: 10px;
      border: 0;
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      background: #2EC5CE;
      border-radius: 10px;
      border: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      padding: 14px 0;
      color: #FFFFFF;
    }
  }

  .second-block {
    padding: 0;
    margin: 30px 15px 0;
    background-size: contain;

    &__background {
      height: inherit;
    }

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    &__text {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__steps {
      flex-direction: column;
      margin: 50px auto;
    }

    .second-block__step {
      text-align: center;
    }
  }

  .quotes-block {
    &__content {
      margin: 0 auto;
      padding: 30px 15px;
      width: 93%;

      &::before {
        background: url('../images/content/quote.png') no-repeat;
        top: 10px;
        left: 1px;
      }
    }

    .swiper-container {
      height: inherit;
    }
  }

  .services-block {
    &__steps {
      flex-direction: column;
      margin: 65px 0 0;
    }

    .service-step {
      height: 150px;
    }

    .service-component {
      flex-basis: 100%;
      margin: 0 15px 20px;
    }

    .service-components {
      flex-direction: column;
      padding: 20px;

      & + .service-components {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  .our-specs {
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }

    .swiper-container {
      width: inherit;
      height: inherit;
    }

    .swiper-slide {
      width: 168px !important;
    }
  }

  .promo-block {
    &__subtitle {
      margin-bottom: 30px;
    }

    &__list {
      padding: 0 15px 1px;

      .swiper-slide {
        margin-bottom: 25px;
        display: block;

        img {
          width: 100%;
        }
      }
    }
  }

  .contacts-block {
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 24px;
      line-height: 20px;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    .contacts-block-item {
      width: 100%;

      &__phones {
        flex-wrap: wrap;
      }

      &__phone {
        margin-bottom: 14px;
      }

      & + .contacts-block-item {
        margin-top: 20px;
      }
    }
  }

  .map-block {
    img {
      width: 100%;
    }
  }

  footer {
    padding: 0 15px;
    display: block;

    .footer-column {
      width: 49%;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .footer-column__about {
      width: 215px;
    }

    .footer-column__sites {
      width: 200px;
    }
  }

    .record-float-btn {
        padding: 7px 14px;
        cursor: pointer;
        font-size: 12px;
    }

  .modal-component {
      &__wrapper {
          padding: 10px;
          width: 100%;
          left: 0;
          transform: inherit;
          top: 40px;
      }

      &__input {
          font-size: 12px;
      }
  }

  .report-form {
      padding: 0 14px;
      &__input {
          font-size: 12px;
      }
  }
}
