.specialists-page {
    padding: 0 170px;

    &__title {
        font-family: 'TTFirsNeue';
        font-style: normal;
        font-weight: 600;
        font-size: 37px;
        line-height: 54px;
        color: #18191F;
        margin-bottom: 10px;
    }

    .specialists-filter {
        background: #FCFCFC;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }

    .specialists-dropdown, .specialists-input, .specialists-button {
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 16px;
        width: 18%;
    }

    .specialists-input {
        width: 100%;
    }

    .specialists-button {
        background: #2EC5CE;
        color: #fff;
        width: 214px;
    }

    .specialists-search-input {
        width: 30%;
        position: relative;

        &__icon {
            position: absolute;
            right: 16px;
            top: 16px;
        }
    }
}

.specialists-list {
    margin-top: 45px;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;

        letter-spacing: 0.6px;

        color: #18191F;
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .our-specs-item {
        width: 280px;
        margin: 0 20px 20px 0;
    }
}

@media (max-width: 460px) {
    .breadcrumb {
        padding: 16px 16px 0;
    }

    .specialists-page {
        padding: 0;

        &__title {
            padding: 0 16px;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */

            letter-spacing: 1.2px;
        }

        .specialists-dropdown, .specialists-input, .specialists-button, .specialists-search-input {
            width: 100%;
            margin-bottom: 5px;
        }

        .specialists-input {
            font-size: 14px;
        }

        .specialists-filter {
            padding-bottom: 0;
            flex-wrap: wrap;
        }

        .specialists-list {
            margin-top: 10px;
            padding: 0 16px;

            .our-specs-item {
                width: calc(48% - 10px);
                margin: 0 10px 20px 0;

                .our-specs-item__about {
                    padding-bottom: 0;
                }
            }
        }
    }
}
